@media (max-width:600px) {
    #grid{
        display: grid;
        height: 100vh;
        grid-template-columns: 100%;
        grid-template-rows: 10% 5% 60% 20% 5%;;
        grid-template-areas: " logo"
        "nav"
        "content"
        "feature"
        "footer" 
     }
     
}